<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<main role="main" class="inner cover">
  <p>CSS Used from Bootstrap "Cover" Example Sheet</p>
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
  <div class="row">
    <div class="col-md-10">
        <table class="table table-bordered table-striped table-hover">
            <!-- Table Header -->
            <tr class="d-flex">
                <th class="text-center col-3">Exercise</th>
                <th class="text-center col-3">Sets</th>
                <th class="text-center col-3">Reps</th>
                <th class="text-center col-3">PRweight</th>
            </tr>
            <% for(let count = 0; count < WorkoutList.length; count++) { %>
            <tr class="d-flex">
                <td class="text-center col-3"><%= WorkoutList[count].Exercise %></td>
                <td class="text-center col-3"><%= WorkoutList[count].Sets %></td>
                <td class="text-center col-3"><%= WorkoutList[count].Reps %></td>
                <td class="text-center col-3"><%= WorkoutList[count].PRweight %></td>
            </tr>
            <% } %>
        </table>
      </div>
  </div>
  <p class="lead">
    <a href="/workoutlist" class="btn btn-lg btn-secondary">Edit Workouts</a>
  </p>
</main>
<%- include Partials/footer.ejs %>
